#modal-callback.modal
  .modal__window(data-modal="window")
    button.modal__btn-close(type="button" data-modal="close")
    h5.modal__title Заголовок модального окна
    .modal__body
      //- тут содержимое модального окна
